.leaderboard-component {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100vw;
  margin: 0 auto;
  justify-content: center;
  align-items: center;

  overflow-x: auto;

  table {
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;

    thead {
      background-color: var(--secondary);
      color: white;
    }

    thead th {
      width: 25%;
    }

    th,
    td {
      text-transform: uppercase;
      border: 1px solid black;
      padding: 8px;
    }
  }
}
