.game-component {
  .helper-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    h3 {
      padding: 1rem;
    }
  }

  .buzz {
    display: block;
    margin: 1rem auto;
    width: 15%;
    height: auto;
    @media only screen and (min-width: 200px) and (max-width: 475px) {
      width: 45%;
    }
    @media only screen and (min-width: 476px) and (max-width: 767px) {
      width: 25%;
    }
  }

  .flex-row {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    justify-content: center;
    .buzz-button {
      width: 5%;
      padding: 1rem;
      cursor: crosshair;

      &:active {
        transform: translateY(4px);
      }
      @media only screen and (min-width: 200px) and (max-width: 475px) {
        width: 10%;
      }
      @media only screen and (min-width: 476px) and (max-width: 767px) {
        width: 7.5%;
      }
    }
  }
}
