.header-component {
  .main-title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 1rem auto;
    //height: 100vh;  /* Se setto anche height va a centro pagina */
  }
}
